* {
    background: #f3f5fc;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
}

.logo{
    padding-top: 10px;
    margin-left: 10px;
    width: 10%;
}

main { 
   display: flex;
   margin-bottom: 50px;
   margin-left: 80px; 
}

.text-area{
    border:none;
    color: #0A3871;
    text-transform: lowercase;
}

::placeholder{ color: #0A3871;}
  .text-area:focus {
      outline: none;  
  }
.informacion{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;

}

.botones{
    display: inline-block;
    text-align: center;
    
}

.btn-encriptar{
    background: #0A3871;
    border-radius: 24px;
    width: 328px;
    height: 67px;
    cursor: pointer;
    color: white;
}

.btn-desencriptar{
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    width: 328px;
    height: 67px; 
    cursor: pointer;
}

.btn-Copiar{
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    width: 328px;
    height: 67px; 
    margin-left: 250px;
    cursor: pointer;
}
.mensaje{
    position: absolute;
    border-radius: 20px;
    color: #0A3871;
    width: 400px;
    height: 500px;
    left: 1000px;
    top: 40px;
    background: white;
    background-image: url(imagenes/Muñeco.png);
    background-size: 500px;
    background-position: 0%;
    background-repeat: no-repeat;
    text-transform: lowercase;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    font-family: 'Inter';
}
.mensaje:focus{
    outline: none;
}

footer{
    text-align: center;
    padding:5px;
   color: #0A3871;
}
